name: Stock-Alert-Bot

on:
  schedule:
    # 毎日 日本時間 15:05（UTC 06:05）に実行
    - cron: '5 6 * * 1-5'
  workflow_dispatch: # 手動で動かすためのボタンを追加

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests yfinance

      - name: Run script
        env:
          LINE_TOKEN: ${{ secrets.LINE_TOKEN }}
          USER_ID: ${{ secrets.USER_ID }}
        run: python main.py
